@model List<PrimeChip.Models.Inventory>;

@{
    ViewData["Title"] = "Alerts";
}

@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
}

@section Scripts {
    <script src="~/js/alerts.js"></script>
}

<div class="layout-wrapper">
    <partial name="_SideNav" />

    <!-- DASHBOARD CONTENT -->
    <div class="main flex-column bg-light">
        <partial name="_TopNav" />
        <div id="sidebar-backdrop"></div>

        <main class="p-3">

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="mb-4 d-flex justify-content-between align-items-center">
                    <div>
                        <h1 class="fw-bold">Alerts</h1>
                        <p class="text-muted">View important inventory stock alerts.</p>
                    </div>
                    <div>
                        <a asp-controller="Vendors" asp-action="index" class="btn btn-primary rounded-5">
                            <span class="ms-2">View Vendors</span>
                        </a>
                    </div>
                </div>

                <!-- TABLE -->
                <div class="card p-2">
                    <table class="table table-bordered table-sm table-hover table-responsive align-middle border-1 mb-0">
                        <thead class="table-light table-responsive border-1">
                            <tr>
                                <th>PRODUCT</th>
                                <th>SKU</th>
                                <th>CATEGORY</th>
                                <th>STOCK QTY</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>

                        <tbody class="border-1">
                            @foreach (var Item in Model)
                            {
                                <tr>
                                    <td class="text-muted">@Item.Name</td>
                                    <td>@Item.SKU</td>
                                    <td>@Item.Category</td>
                                    <td>@Item.Stock</td>
                                    <td><span>
                                        @if (Item.Stock == 0)
                                        {
                                            <span class="badge bg-danger">Out of Stock</span>
                                        }
                                        else if (Item.Stock < 10)
                                        {
                                            <span class="badge bg-warning text-dark">Low Stock</span>
                                        }
                                        else if (Item.Stock <= Item.ReorderLevel)
                                        {
                                            <span class="badge bg-warning">Reorder Needed</span>
                                        }                                                   
                                    </span></td>
                                    <td><a href="Alerts/Purchase" class="btn btn-success">Purchase</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </main>
    </div>
</div>