
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <aside id="sidebar" class="fw-semibold">
        <div class="sidebar-logo text-center">
            <img src="~/images/logo.png" alt="PrimeChip Logo" />
        </div>

        <!--SIDEBAR NAVIGATION-->
        <!--Modules nav-->
        <ul class="sidebar-nav p-0">
        <li class="sidebar-main-item">
            <a asp-controller="Dashboard" asp-action="index" class='sidebar-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Dashboard" ? "active" : "")'>
                Dashboard
            </a>
        </li>

        <!--Modules Nav-->
            <li class="sidebar-header m-3">
                MODULES
            </li>
            <li class="sidebar-item"> 
            <a asp-controller="Inventory" asp-action="index" class='sidebar-link d-flex @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Inventory" ? "active" : "")'>
                   <i class="bi bi-box ms-1 start-0"></i>
                   <span class="ms-2">Inventory</span>
                   <i class="bi bi-caret-right-fill ms-auto"></i>
                </a>            
            </li>
            <li class="sidebar-item">
            <a href="#" class="sidebar-link d-flex">
                <i class="bi bi-people ms-1 start-0"></i>
                <span class="ms-2">Vendors</span>
                <i class="bi bi-caret-right-fill ms-auto"></i>
            </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link d-flex">
                    <i class="bi bi-bell ms-1 start-0"></i>
                    <span class="ms-2">Alerts</span>
                    <i class="bi bi-caret-right-fill ms-auto"></i>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link d-flex">
                    <i class="bi bi-file-earmark-text ms-1 start-0"></i>
                    <span class="ms-2">Reports</span>
                    <i class="bi bi-caret-right-fill ms-auto"></i>
               </a>
            </li>
        </ul>

        <hr class="sidebar-divider m-2 mt-5 mb-4">
        
        <!--System nav-->
        <ul class="sidebar-nav p-0">
            
            <li class="sidebar-header m-3">
                SYSTEM
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link d-flex">
                    <i class="bi bi-person ms-1 start-0"></i>
                    <span class="ms-2">Users</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link d-flex">
                    <i class="bi bi-gear ms-1 start-0"></i>
                    <span class="ms-2">Settings</span>
                </a>
            </li>

        </ul>
         
        <!--Logout nav-->
        <div class="sidebar-footer">
            <a href="#" class="sidebar-link d-flex">
                <i class="bi bi-box-arrow-left ms-1 start-0"></i>
                <span class="ms-2">Logout</span>
            </a>
        </div>
    </aside>