
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>

    .toggler-button {
        border: none;
        background: transparent;
    }

    .toggler-button i {
        font-size: 1.5rem;
        font-weight: bold;
    }

    input:focus {
        outline: none;
        box-shadow: none !important; 
    }

</style>

<nav class="navbar border-bottom bg-white border-1 px-3 py-2 d-flex align-items-center justify-content-between">

    <!-- Left side  -->
    <div class="d-flex align-items-center gap-2">
        <button class="toggler-button">
            <i class="bi bi-list"></i>
        </button>
    </div>

    <!-- Right side-->
    <div class="d-flex align-items-center gap-3">

        <!-- Input -->
        <div class="input-group m-0">
            <span class="input-group-text border-end-0 rounded-5 bg-white">
                <i class="bi bi-search text-muted"></i>
                <input type="text" class="form-control bg-white border-start-0 border-0 rounded-5" placeholder="Search anything..." />
            </span>
           
        </div>

        <!-- Notifications -->
        <span role="button">
            <i class="bi bi-bell fs-5"></i>
        </span>

        <!-- Messages -->
        <span role="button">
            <i class="bi bi-envelope fs-5"></i>
        </span>

        <!-- Avatar -->
        <div class="d-flex align-items-center gap-2">
            <img src="~/images/avatar.jpg" class="rounded-circle" width="50" height="40" />
            <span class="fw-semibold">Admin</span>
        </div>

    </div>
</nav>