
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>

    .toggler-button {
        border: none;
        background: transparent;
        padding: 0.5rem;
    }

    .toggler-button i {
        font-size: 1.5rem;
        font-weight: bold;
    }

</style>
<div class="navbar navbar-expand border-bottom">
        <button class="toggler-button">
            <i class="bi bi-list"></i>
        </button>

        <div class="d-flex flex-row position-relative">
            <div>
                <input placeholder="Search anything..."/>
            </div>

            <div>
                <span><i class="bi bi-bell"></i></span>
                <span><i class="bi bi-envelope"></i></span>
            </div>

            <div class="">
                <img src="~/images/avatar.png" class="rounded-circle" width="40" height="40" />
                <span class="me-2">Admin</span>
            </div>
        </div>
</div>